<div class="container">

	<div class="row dashboards-created" style="background-color: #F3F3F3; overflow: auto; border-radius: 7px;">

		<div ng-repeat="dash in ownedDashboards track by dash._id">
			<div card-dashboard text="{{dash.text}}" owner="true" remove="removeDash($index)" select="selectDashboard('owner', $index)"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-3" >
			<div ng-click="modalDashboard()" style="border: 1px solid #dddddd; border-radius: 7px; background-color: white; margin: 40px 0 40px 0; padding: 12%; background-color: #337AB7; color: white; cursor: pointer;">
				Create Dashboard..
			</div>
		</div>
	</div>

	<div class="row dashboards-created" style="background-color: #F3F3F3; overflow: auto; border-radius: 7px;">

		<div ng-repeat="dash in participantDashboards track by dash._id">
			<div card-dashboard text="{{dash.text}}" owner="false" select="selectDashboard('participant', $index)"></div>
		</div>
	</div>
</div>
