<div class="container">
	<!--left view to display lists-->
	<div class="col-sm-8">
		<!--repeat through the lists if any-->
		<div>
			<div ng-repeat="list in lists">
				<div class="list col-sm-3" style="float: left; border: 1px solid #dddddd;">
					{{ list.name }}
					<!--repeat through tasks inside every list-->
					<div ng-repeat="task in list.tasks">
						<div card-task text="{{ task.text }}"></div>
					</div>
				</div>
			</div>
		</div>

		<!--input for adding a new list-->
		<div>
			
		</div>
	</div>

	<!--right vew to display log-->
	<div>
		
	</div>
</div>