<div class="container">
	<!--left view to display lists-->
	<div class="row">
		<div id="sortable-lists" class="col-sm-10">
			<!--repeat through the lists-->
			<div class="row">
				<div ng-repeat="list in lists | orderBy:'orderId':reverse track by list._id">
					<div class="col-sm-2 listContainer">
						<div class="list-header listHeader">
							{{::list.name}}
						</div>
						<ul class="list-content listContent" id="{{::list.name}}">
							<!--repeat through tasks inside every list-->
							<li card-task ng-click="showModal($event)" id="{{task._id}}" class="sort-list sortList" ng-sortable ng-repeat="task in list.tasks track by task._id" name="{{task.name}}"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<!--right vew to display log-->
		<div class="col-sm-2">
			<div class="row">
				<div ng-click="createTask()" class="btn btn-primary createTask">
					Create Task..
				</div>
			</div>
		</div>
	</div>
</div>