main {
	padding-top:30px;
}

/* HEADER
===================== */
header .navbar {
	border-radius:0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
}

.navbar-brand {
	margin-top: -5px;
}


.buttonBack{
	margin-top: 80px;
	margin-left: 50px;
	text-align: right;
}

.requiredField{
	color: red;
}

.buttonCreate {
	border-radius: 7px;
	margin: 40px 0 40px 0;
	padding: 12%;
}

.delete {
	padding: 2% 3% 0 0;
}



/* CARD
====================== */
.card {
	cursor: pointer;
	background-color: #F3F3F3; 
	overflow: auto; 
	border-radius: 7px;
}

.cardBody {
	border: 1px solid #dddddd; 
	border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	background-color: white; 
	margin: 20px 0 20px 0;
}

.cardTask {
	min-height: 50px; 
	padding: 15px;
}

.card-text {
	padding: 10%;
}

.editTask {
	cursor: pointer; 
	top: -13px;
}

.createTask {
	border-radius: 7px; 
	padding: 7%;
}

/* LIST
====================== */
.listContainer {
	float: left; 
	border: 1px solid #dddddd;
	border-radius: 2px 0 0 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
	margin-right: 10px;
}

.listHeader {
	text-align: center;	
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3); 
	border-bottom: 1px solid #dddddd; 
	margin-bottom: 8px;
}

.listContent {
	min-height: 25px; 
	list-style: none; 
	margin-left: -40px;
}

.sortList {
	margin-bottom: 5px; 
	cursor: move;
}


/* ANIMATIONS
====================== */
.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}

	to {
		transform:rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform:rotate(0deg);
	}
	to {
		-moz-transform:rotate(360deg);
	}
}




/* NGANIMATE
====================== */
/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}