<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Login</h1>
		<form ng-submit="doLogin()">
			
			<!-- USERNAME INPUT -->
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="loginData.username" required>
			</div>

			<!-- PASSWORD INPUT -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="loginData.password" required>
			</div>

			<!-- LOGIN BUTTON -->
			<div class="alert alert-danger" ng-if="error">
				{{ error }}
			</div>
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!processing">Login</span>
				<span ng-if="processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>

		</form>
	</div>
</div>