main {
  padding-top: 30px;
}

/* HEADER
===================== */
header .navbar {
  border-radius: 0;
}

.navbar-brand {
  margin-top: -5px;
}

.buttonBack {
  margin-top: 80px;
  margin-left: 50px;
  text-align: right;
}

.requiredField {
  color: red;
}

.buttonCreate {
  border-radius: 7px;
  margin: 40px 0 40px 0;
  padding: 12%;
}

.delete {
  padding: 2% 3% 0 0;
}

/* CARD
====================== */
.card {
  background-color: #F3F3F3;
  overflow: auto;
  border-radius: 7px;
}

.cardBody {
  border: 1px solid #dddddd;
  border-radius: 7px;
  background-color: white;
  margin: 40px 0 40px 0;
}

/* ANIMATIONS
====================== */
.spinner {
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

/* NGANIMATE
====================== */
/* show and hide */
.show-hide-message.ng-hide-remove {
  -webkit-animation: zoomIn 0.3s both ease;
  -moz-animation: zoomIn 0.3s both ease;
  animation: zoomIn 0.3s both ease;
}
